<!DOCTYPE html>
<html>
<head>
  <title>Project Details</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/issues">Issues</a></li>
          <li><a href="/create-project">Create-Project</a></li>
          <% if (authenticated) { %>
            <li style="float: right;"><a href="/logout">Logout</a></li>
          <% } else { %>
            <li style="float: right;"><a href="/login">Login</a></li>
          <% } %>
        </ul>
      </nav>
  <% project.forEach(function(projec) { %>
  <div class="container">
    <% if (!authenticated) { %>
      <h1>Not Authenticated</h1>
      <p>Please login to view project details</p>
    <% } else if (!project) { %>
      <h1>Project Not Found</h1>
      <p>The requested project does not exist.</p>
    <% } else { %>
      <h1><%= projec.project_name %> (<%= projec.project_id %>)</h1>
      <% if (projec.start_date && projec.end_date) { %>
        <p>Start Date: <%= projec.start_date.toISOString().split('T')[0] %></p>
        <p>End Date: <%= projec.end_date.toISOString().split('T')[0] %></p>
      <% } %>
      <p>Team Lead: <%= projec.team_lead_name %></p>
      <p>Description: <%= projec.project_description %></p>
    <% } %>
  </div>
  <% }); %>
</body>
</html>
